App_WebReferences/CL/Utility/Web/AuditService/AuditService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="Authorized">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPWD" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthorizedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuthorizedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListUserPMSByCate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCategory" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListUserPMSByCateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListUserPMSByCateResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthorizedSoapIn">
    <wsdl:part name="parameters" element="tns:Authorized" />
  </wsdl:message>
  <wsdl:message name="AuthorizedSoapOut">
    <wsdl:part name="parameters" element="tns:AuthorizedResponse" />
  </wsdl:message>
  <wsdl:message name="ListUserPMSByCateSoapIn">
    <wsdl:part name="parameters" element="tns:ListUserPMSByCate" />
  </wsdl:message>
  <wsdl:message name="ListUserPMSByCateSoapOut">
    <wsdl:part name="parameters" element="tns:ListUserPMSByCateResponse" />
  </wsdl:message>
  <wsdl:portType name="AuditServiceSoap">
    <wsdl:operation name="Authorized">
      <wsdl:input message="tns:AuthorizedSoapIn" />
      <wsdl:output message="tns:AuthorizedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListUserPMSByCate">
      <wsdl:input message="tns:ListUserPMSByCateSoapIn" />
      <wsdl:output message="tns:ListUserPMSByCateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuditServiceSoap" type="tns:AuditServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="Authorized">
      <soap:operation soapAction="http://tempuri.org/Authorized" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListUserPMSByCate">
      <soap:operation soapAction="http://tempuri.org/ListUserPMSByCate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuditService">
    <wsdl:port name="AuditServiceSoap" binding="tns:AuditServiceSoap">
      <soap:address location="http://main.mes.clpec/MESAuditService/AuditService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>